<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
   <rewrite>
	<rules>
		<rule name="portal_topic">
			<match url="^(.*/)*topic-(.+).html\?*(.*)$" />
			<action type="Rewrite" url="{R:1}/portal.php\?mod=topic&amp;topic={R:2}&amp;{R:3}" />
		</rule>
		<rule name="portal_article">
			<match url="^(.*/)*article-([0-9]+)-([0-9]+).html\?*(.*)$" />
			<action type="Rewrite" url="{R:1}/portal.php\?mod=view&amp;aid={R:2}&amp;page={R:3}&amp;{R:4}" />
		</rule>
		<rule name="forum_forumdisplay">
			<match url="^(.*/)*forum-(\w+)-([0-9]+).html\?*(.*)$" />
			<action type="Rewrite" url="{R:1}/forum.php\?mod=forumdisplay&amp;fid={R:2}&amp;page={R:3}&amp;{R:4}" />
		</rule>
		<rule name="forum_viewthread">
			<match url="^(.*/)*thread-([0-9]+)-([0-9]+)-([0-9]+).html\?*(.*)$" />
			<action type="Rewrite" url="{R:1}/forum.php\?mod=viewthread&amp;tid={R:2}&amp;extra=page%3D{R:4}&amp;page={R:3}&amp;{R:5}" />
		</rule>
		<rule name="group_group">
			<match url="^(.*/)*group-([0-9]+)-([0-9]+).html\?*(.*)$" />
			<action type="Rewrite" url="{R:1}/forum.php\?mod=group&amp;fid={R:2}&amp;page={R:3}&amp;{R:4}" />
		</rule>
		<rule name="home_space">
			<match url="^(.*/)*space-(username|uid)-(.+).html\?*(.*)$" />
			<action type="Rewrite" url="{R:1}/home.php\?mod=space&amp;{R:2}={R:3}&amp;{R:4}" />
		</rule>
		<rule name="home_blog">
			<match url="^(.*/)*blog-([0-9]+)-([0-9]+).html\?*(.*)$" />
			<action type="Rewrite" url="{R:1}/home.php\?mod=space&amp;uid={R:2}&amp;do=blog&amp;id={R:3}&amp;{R:4}" />
		</rule>
		<rule name="forum_archiver">
			<match url="^(.*/)*(fid|tid)-([0-9]+).html\?*(.*)$" />
			<action type="Rewrite" url="{R:1}/index.php\?action={R:2}&amp;value={R:3}&amp;{R:4}" />
		</rule>
		<rule name="plugin">
			<match url="^(.*/)*([a-z]+[a-z0-9_]*)-([a-z0-9_\-]+).html\?*(.*)$" />
			<action type="Rewrite" url="{R:1}/plugin.php\?id={R:2}:{R:3}&amp;{R:4}" />
		</rule>
	</rules>
</rewrite>
  </system.webServer>
</configuration>
